<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:var(--wp--preset--spacing--60)">
	<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
	<div class="wp-block-group alignfull" style="padding-top:var(--wp--preset--spacing--60);padding-bottom:var(--wp--preset--spacing--60)">
		<!-- wp:heading -->
		<h1>Welcome to My Site</h1>
		<!-- /wp:heading -->

		<!-- wp:paragraph -->
		<p>Today is <!-- wp:mycustomdate/current-date /-->.</p>
		<!-- /wp:paragraph -->

		<!-- wp:paragraph -->
  		<p>Explore our latest updates, insights, and projects designed to inspire and inform. We aim to provide engaging content every day.</p>
        <!-- /wp:paragraph -->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
